%h1= @open_type_font.name
%p
  = link_to t('edit'), edit_open_type_font_path(@open_type_font)

- @open_type_font.features.each do |feature|
  - unless feature.lookups.empty?
    %h3= feature.title || feature.name 
    - feature.lookups.each do |lookup|
      = link_to lookup.name, lookup