body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: "Mongolian Baiti", verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }

div.field, div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

ul#menu{ 
    width: 100%;
    height: 43px;
    background: #FFF url("images/menu-bg.gif") top left repeat-x; 
    font-size: 0.8em; 
    font-family: "Lucida Grande", Verdana, sans-serif; 
    font-weight: bold; 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    }
ul#menu li {
    display: block; 
    float: left; 
    margin: 0 0 0 5px; 
    }
ul#menu li a { 
    height: 43px; 
    color: #777; 
    text-decoration: none; 
    display: block; 
    float: left; 
    line-height: 200%; 
    padding: 8px 15px 0; 
    }
ul#menu li a:hover { 
    color: #333; 
    }
ul#menu li a.current{ 
    color: #FFF; 
    background: #FFF url("images/current-bg.gif") top left repeat-x; 
    padding: 5px 15px 0; 
    }

.sub {
    background-color: #eaa;
}
.by {
     background-color: #aea;
}
.row > td{
    border:1px solid #666;
    padding: 2px;
}
#content{
    min-height: 500px;
}
#footer{
    margin-top:3em;
}

#footer #message{
    font-size:0.8em;
}
.class-glyphs .actions, .feature-lookups .actions, .action{
    text-align:right;
}
.edit {
    text-align:right;
    float-right;
}
td.top, tr.row td{
    vertical-align: top;
}
.klasses > td, #klasses > td{
    vertical-align: top;
}

td.sub {
    border: 1px dashed #963;
}
td.by {
    border: 1px solid #333;
}
td.reserve {
    border: 1px solid #999;
}

tr.odd {
    background-color: #eee;
}

tr.even {
    background-color: #ddd;
}

tr.added {
    background-color: #af9;
}

.unicodes .glyph { text-align: center; vertical-align: center;}
.unicodes .name  { text-align: center; width:200px;}
.unicodes .hex   { text-align: center; width:100px;}
.unicodes .desc   { text-align: center; width:300px;}
.unicodes .name  input { width:180px;}
.unicodes .hex   input { width:80px;}
.unicodes .desc  input { width:280px;}

.glyphs .glyph { text-align: center; vertical-align: center;}
.glyphs .name  { width:220px;}
.glyphs .desc  { width:400px;}
.glyphs .name  input { width:200px;}
.glyphs .desc  input { width:380px;}

/* Vertical Tabs
----------------------------------*/
.ui-tabs-vertical { width: 99%; }
.ui-tabs-vertical .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; width:8em; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: left; width: 75%;}

.ui-tabs-vertical-wide { width: 99%; }
.ui-tabs-vertical-wide .ui-tabs-nav { padding: .2em .1em .2em .2em; float: left; }
.ui-tabs-vertical-wide .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; width:12em; }
.ui-tabs-vertical-wide .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical-wide .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical-wide .ui-tabs-panel { padding: 1em; float: left; width: 75%;}

div.meta {
    padding: .5em 0;
    font-size: 0.9em;
    color: #999;
}

.comment-text{
    width: 600px;
    height: 60px;
    padding: .5em;
    display: block;
}
table.class-glyphs{
    width: 200px;
    float:left;
}
.class-comments{
    width: 600px;
    float:left;
}
.class-lookups{
    width: 600px;
    float:left;
}

td.avatar, td.comment{
    vertical-align:top;
    padding: .3em 1em 0 0;
    border-bottom: 1px dotted #999;
}
td.comment > p:first-child{
    padding-top: 0;
    margin-top: 0;
}
.mongolian { font-size: 2em; text-align:left;}
.examples .mongolian {  vertical-align: center; width:220px; }
.examples .cyrillic  {  vertical-align: center; width:100px;}
.examples .glyphseq  {  width:300px;}
.examples .mongolian  input { width:200px;}
.examples .cyrillic   input { width:80px;}
.examples .glyphseq   input { width:280px;}

.correct {
    color: green;
}

.wrong {
    color: red;
}

h1 div, h1 form {
    display:inline;
}

span.download a{
    color: #999;
    font-size: 0.8em;
    margin: 0 .5em;
    padding-left: 18px;
    background: url(/images/down.png) no-repeat 0 50%;
}

.pass {
    padding-left: 20px;
    background: url(/images/pass.png) no-repeat 0 50%;
}

.fail {
    padding-left: 20px;
    background: url(/images/fail.png) no-repeat 0 50%;
}
.rendered-examples .cyrillic {text-align: center;}
.stack img{
    border: 0;
    padding: 0;
    margin:0;
    display:block;
    padding-left: 30px;
}
td.view {
    text-align:center;
}
