%td{:class => klass.kind}
  - if klass.otf_class.name
    %table
      %tr
        %td 
          = link_to klass.otf_class.name, open_type_font_otf_class_path(klass.otf_lookup.font, klass.otf_class.name), :remote => true, :title => klass.otf_class.name
  - else
    %table
      - klass.otf_class.otf_glyphs.each do |glyph|
        %tr
          %td= image_tag(glyph.path)
          %td= glyph.name